<h1><%=@product.name%></h1>
Description: <%=@product.description%><br/>
Price: <%=@product.price%><br/>
Available: <%=@product.quantity%><br/>
<%= form_for @product, url: { action: "buy" }, :html => { :method => :post } do |f| %>
  How many would you like to buy?<br/>
  <%= f.number_field :quantity, :value => 1 %><br/>
  <%= f.submit("Buy now") %>
<%end%>
<br/><br/>
<%=link_to "back to list", products_path%>
